Repository jodfie/TrunkSTARTer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jodfie/ts-scripts, @jodfie/ts-apps, @jodfie/ts-docs

updating apt commands
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
Owners: @jodfie/ts-scripts

update codeblock language
  .github/CONTRIBUTING.md
Owners: @jodfie/ts-scripts, @jodfie/ts-apps, @jodfie/ts-docs

update templates
  .github/ISSUE_TEMPLATE/application-request.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @jodfie/ts-scripts, @jodfie/ts-apps, @jodfie/ts-docs

remove app-template from main TS
  compose/.apps/app-template/app-name.yml
  compose/.apps/app-template/template.aarch64.yml
  compose/.apps/app-template/template.armv7l.yml
  compose/.apps/app-template/template.hostname.yml
  compose/.apps/app-template/template.labels.yml
  compose/.apps/app-template/template.netmode.yml
  compose/.apps/app-template/template.ports.yml
  compose/.apps/app-template/template.x86_64.yml
Owners: @jodfie/ts-scripts, @jodfie/ts-apps

Typos
  compose/.apps/apcupsd/apcupsd.labels.yml
  compose/.apps/dozzle/dozzle.labels.yml
  compose/.apps/duplicacy/duplicacy.labels.yml
  compose/.apps/duplicacy/duplicacy.yml
  compose/.apps/timemachine/timemachine.labels.yml
  main.sh
Owners: @jodfie/ts-scripts, @jodfie/ts-apps

typo correction
  compose/.apps/httpserver/httpserver.labels.yml
Owners: @jodfie/ts-scripts, @jodfie/ts-apps

fix port duplication
  compose/.apps/adminer/adminer.labels.yml
Owners: @jodfie/ts-scripts, @jodfie/ts-apps

formatting
  compose/.apps/uptimekuma/uptimekuma.yml
Owners: @jodfie/ts-scripts, @jodfie/ts-apps

get_spyserver script
  .scripts/get_spyserver.sh
Owners: @jodfie/ts-scripts

fix permissions
  .scripts/get_spyserver.sh
Owners: @jodfie/ts-scripts

fix download link
  .scripts/get_spyserver.sh
Owners: @jodfie/ts-scripts

Add Airspy Drivers to menu
  .scripts/get_airspy.sh
  .scripts/menu_main.sh
Owners: @jodfie/ts-scripts

fix airspy menu
  .scripts/menu_main.sh
  .scripts/run_airspy.sh
Owners: @jodfie/ts-scripts

fix HOME variable
  .scripts/get_airspy.sh
Owners: @jodfie/ts-scripts

fix $HOME typo
  .scripts/get_airspy.sh
Owners: @jodfie/ts-scripts

fix airspy menu
  .scripts/menu_airspy.sh
  .scripts/menu_main.sh
  .scripts/run_airspy.sh
Owners: @jodfie/ts-scripts

Deployed 57818876 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Owners: @jodfie/ts-scripts

Deployed da694215 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Owners: @jodfie/ts-scripts

Deployed 3d94701a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Owners: @jodfie/ts-scripts

Deployed fd54379c with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Owners: @jodfie/ts-scripts

Deployed 1edd18e7 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Owners: @jodfie/ts-scripts

Deployed 4cdbba14 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Owners: @jodfie/ts-scripts

.github/CODEOWNERS:

*               @jodfie/ts-scripts
/.github/       @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
/.scripts/      @jodfie/ts-scripts
/compose/       @jodfie/ts-scripts @jodfie/ts-apps
/docs/          @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
/mkdocs.yml     @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
/README.md      @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
